# Environment & Secrets
.env
*.env.local

# Server & Error Logs
error_log
*.log

# Composer & Node dependencies
/vendor/
/node_modules/

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archives
*.zip
*.tar.gz
